# pip install -U -r requirements.txt
Cython
matplotlib>=3.2.2
numpy==1.23.5
opencv-python>=4.1.2
pillow
easydict
# pycocotools>=2.0
PyYAML>=5.3
scipy>=1.4.1
#tensorboard>=2.2
#torch>=1.8.0
#torchvision>=0.9.0
tqdm>=4.41.0
# Export --------------------------------------
coremltools>=7.0  # CoreML export
onnx>=1.12.0  # ONNX export
onnxsim>=0.4.1  # ONNX simplifier
